body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

body{
    margin:0;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

header{
 display:grid;
 background-color: #333;

}

main{
 padding:20px;
}

footer{
    background-color: #333;


}