body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

body{
    margin:0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
   
}

header, footer  {
 display:grid;
 background-color: #333;
 color:#f4f4f4;
 text-align: center;
  padding: 20px;
}

main{
 padding:20px;
  margin:auto;
}


button {
    background-color: #0074d9;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    white-space: pre-wrap;
  }
  
  input::placeholder,
textarea::placeholder {
  font-style: arial;
}

#todo-list {
    list-style-type: none;
    padding: 10px; 
    background-color: #f9f9f9; 
  }
  
  #todo-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    }