/* Reset de estilos para garantir consistência em diferentes navegadores */
body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  padding: 16px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 40ch;
  margin: 0 auto;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

input,
textarea::placeholder {
  font-family: 'Arial', sans-serif;
}

button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 80ch;
  margin: 0 auto;
}

li {
  margin: 8px 0;
  padding: 20px;
  border: solid 1px #ccc;
  position: relative; /* Necessário para o posicionamento do botão */
}

li p {
  white-space: pre-wrap;
  margin-top: 10px;
}

/* Estilo do botão de edição */
.edit-button {
  background-color: #676767;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
}

/* Estilo para o diálogo */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog h2 {
  margin-bottom: 10px;
}

.dialog form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog form input,
.dialog form textarea {
  width: calc(100% - 24px);
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 10px;
}

.dialog-buttons button {
  flex: 1;
}
